<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>975618137807-440ac0bb8bblrvieqe4to6cesive1su8.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.975618137807-440ac0bb8bblrvieqe4to6cesive1su8</string>
  <key>API_KEY</key>
  <string>AIzaSyD0dlrwyrVB78tD40yrC6FOSGC0reDuHSU</string>
  <key>GCM_SENDER_ID</key>
  <string>975618137807</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>ht.com.natcash.eu</string>
  <key>PROJECT_ID</key>
  <string>natcash-98d7e</string>
  <key>STORAGE_BUCKET</key>
  <string>natcash-98d7e.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:975618137807:ios:986f7e7bbd00ced9ef61ba</string>
  <key>DATABASE_URL</key>
  <string>https://natcash-98d7e-default-rtdb.firebaseio.com</string>
</dict>
</plist>
